@font-face {
  font-family: LinetoBook;
  font-display: swap;
  src: url("../fonts/lineto-circular-book.woff2") format("woff2");
}

@font-face {
  font-family: LinetoBold;
  font-display: swap;
  src: url("../fonts/lineto-circular-bold.woff2") format("woff2");
}

@font-face {
  font-family: LinetoBlack;
  font-display: swap;
  src: url("../fonts/lineto-circular-black.woff2") format("woff2");
}

ul,
li {
  list-style: none;
}

a {
  display: inline-block;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset;
}

footer {
  background-color: #111;
  padding: 50px 0;
}
