<footer class="site-footer">
  <div class="container">
    <div class="footer-right">
      <a class="social" href="https://www.linkedin.com/in/mintorian" target="_blank">
        <img class="social-icon" src="/footer/icon-linkedin.svg" alt="LinkedIn">
      </a>
      <a class="social" href="https://github.com/BilalAhmad096" target="_blank">
        <img class="social-icon" src="/footer/icon-github.svg" alt="GitHub">
      </a>
      <a class="social" href="https://scholar.google.com/citations?user=Y-ShcXcAAAAJ" target="_blank">
        <img class="social-icon" src="/footer/icon-scholar.svg" alt="Scholar">
      </a>
      <a class="social" href="https://x.com/ahmadbilal096" target="_blank">
        <img class="social-icon" src="/footer/icon-x.svg" alt="X">
      </a>
      <a class="social" href="https://www.instagram.com/thebilalgram/" target="_blank">
        <img class="social-icon" src="/footer/icon-instagram.svg" alt="Instagram">
      </a>
      <a class="social" href="https://leetcode.com/u/mailboxforbilal/" target="_blank">
        <img class="social-icon" src="/footer/icon-leetcode.svg" alt="LeetCode">
      </a>
      <a class="social" href="https://www.hackerrank.com/profile/mailboxforbilal" target="_blank">
        <img class="social-icon" src="/footer/icon-hackerrank.svg" alt="HackerRank">
      </a>
    </div>
  </div>
</footer>
