<header class="site-header">
  <div class="container-wide">
    <nav class="primary-nav" aria-label="Primary">
      <ul class="nav-list">
        <li><a href="/index.html" class="nav-link">Home</a></li>
        <li><a href="/pages/education.html" class="nav-link">Education</a></li>
        <li><a href="/pages/experience.html" class="nav-link">Experience</a></li>
        <li><a href="/pages/updates.html" class="nav-link">Updates</a></li>
      </ul>

      <ul class="brand-logos">
        <li><a href="https://www.bath.ac.uk/" target="_blank"><img src="/image/Bath Logo.gif" alt="University of Bath"></a></li>
        <li><a href="https://www.royalholloway.ac.uk/" target="_blank"><img src="/image/rhul.jpg" alt="Royal Holloway"></a></li>
        <li><a href="https://www.iitr.ac.in/" target="_blank"><img src="/image/iitr.png" alt="IIT Roorkee"></a></li>
        <li><a href="https://www.rwth-aachen.de/" target="_blank"><img src="/image/rwth.png" alt="RWTH Aachen"></a></li>
        <li><a href="https://www.amu.ac.in/" target="_blank"><img src="/image/amu.jpg" alt="AMU"></a></li>
      </ul>
    </nav>
  </div>
</header>
